.pg1-text{
    font-family: Montserrat;
    font-style: normal;
}

.row_bodytext1{
    margin-top: 130px;
}

.body-text1{
font-size: 44px;
line-height: 54px;
margin-left: 109px;

float: left;
}

.row_bodytext2{
    margin-top: 20px;
}



.body-text2{
    font-weight: 500;
font-size: 25px;
line-height: 30px;
margin-left: 109px;
float: left;
color: #000000;
}

.body_input{
    width: 325px;
    height: 55px;    
background: #FFFFFF;
border: 1px solid #488BFF;
box-sizing: border-box;
border-radius: 3px;
font-weight: normal;
font-size: 20px;
line-height: 38px;
margin-left: 99px;
margin-top: 50px;
}

.input_button{
    height: 55px;  
    margin-top: 50px;
    width: 125px;
    font-size: 12px;
    font-family: Montserrat;
    background: #488BFF !important;
}
@media only screen and (max-width: 4200px) {
    .body_input{
        width: 930px;
        height: 105px;   
        font-size: 28px;
    }
    
    .input_button{
        height: 105px;
    width: 245px !important;
    font-size: 19px;
    font-family: Montserrat;
    }
    .body-text1{
       
        font-size: 70px;
        font-weight: 700;
        line-height: 75px;
    
        }
        .body-text2{
          
            font-size: 45px;
            font-weight: 600;
            
            line-height: 42px;
        }
}
@media only screen and (max-width: 3500px) {
    .body_input{
        width: 800px;
        height: 100px;   
        font-size: 28px;
    }
    
    .input_button{
        height: 100px;
    width: 230px !important;
    font-size: 18px !important;
    font-family: Montserrat;
    }
    .body-text1{
       
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
    
        }
        .body-text2{
          
            font-size: 35px;
            font-weight: 600;
            
            line-height: 35px;
        }
}
@media only screen and (max-width: 3000px) {
    .body_input{
        width: 670px;
        height: 95px;   
        font-size: 28px;
    }
    
    .input_button{
        height: 95px;
    width: 215px !important;
    font-size: 17px !important;
    font-family: Montserrat;
    }

    .body-text1{
       
        font-size: 50px;
        font-weight: 700;
        line-height: 45px;
    
        }
        .body-text2{
          
            font-size: 25px;
            font-weight: 600;
            
            line-height: 30px;
        }
        
}
@media only screen and (max-width: 2500px) {
    .body_input{
        width: 550px;
        height: 90px;   
        font-size: 28px;
    }
    
    .input_button{
        height: 90px;
    width: 200px !important;
    font-size: 17px !important;
    font-family: Montserrat;
    }
}

@media only screen and (max-width: 2000px) {
.body_input{
    width: 420px;
    height: 70px;   
    font-size: 25px;
}

.input_button{
    height: 70px;
width: 160px !important;
font-size: 16px !important;
font-family: Montserrat;
}


}

  @media only screen and (max-width: 1400px) {
    .body_input{
      
        width: 255px  !important;
     
    }
  }

    
@media only screen and (max-width: 1100px) {
    .body-text1{
    margin-left: 50px;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;

    }
    .body-text2{
        margin-left: 50px;
        
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;
    
    }
    .body_input{
        margin-left: 40px;
        width: 240px !important;
        height: 63px;
        border: 1px solid #488BFF;
box-sizing: border-box;
border-radius: 10px;
font-weight: normal;
font-size: 25px;
line-height: 30px;

color: #C8C4C4;
    }
    .input_button{
        width: 100px !important;
        height: 63px;
        font-size: 13px !important;
        font-family: Montserrat;
   
    }
    .row_bodytext1{
        margin-top: 70px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .input_button{
 /* margin-left: -110px; */
    font-size: 15px;
    font-family: Montserrat;
  }}
  @media only screen and (max-width: 766px) {
  .input_button{
    margin-left: -110px;
}}



  @media only screen and (max-width: 600px) {
    .body_input{
      
        width: 225px  !important;
        
     
    }
    .input_button{
        margin-left: -110px;
    }
  }
  @media only screen and (max-width: 555px) {
    .input_button{
      margin-left: 0px;
  }}
  
@media only screen and (max-width: 400px) {
    .body-text1{
    margin-left: 50px;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;

    }
    .body-text2{
        margin-left: 50px;
       
        font-weight: 500;
        font-size: 23px;
        line-height: 22px;
    
    }
    .body_input{
        margin-left: 40px;
        width: 200px !important;
        height: 63px;
        border: 1px solid #488BFF;
box-sizing: border-box;
border-radius: 10px;
font-weight: normal;
font-size: 25px;
line-height: 30px;

color: #C8C4C4;
    }
    .input_button{
        width: 100px !important;
        height: 63px;
        margin-left:26px ;
background: #488BFF;
border-radius: 10px;
    }
    .row_bodytext1{
        margin-top: 70px;
    }
  }

  @media only screen and (max-width: 300px) {
    .body_input{
    
        width: 180px  !important;
     
    }
    .input_button{
        margin-left: 0px;
    }
  }
